<!DOCTYPE html>
<html ng-app>
<head>
	<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
  	<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
  	<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>

  	<script src="http://code.jquery.com/jquery.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>

  	<meta charset="utf-8">
  	<title>【AngularJS 開發實戰：新手入門篇】實作練習</title>

  	<script>
  		function MainCtrl ($scope) {
  			$scope.PName = "T-shirt";
  			$scope.Price = 2000;
  			$scope.Qty = 6;

        $scope.subtotal = function() {
          var r = $scope.Price * $scope.Qty;
          if ($scope.Qty >= 10) {
            r = r * 0.9;
          }
          return r;
        };
  		}
  	</script>


</head>
<body ng-controller="MainCtrl">
	商品名稱：<input type="text" ng-model="PName"><br>
	商品單價：<input type="number" ng-model="Price"><br>
	商品數量：<input type="number" ng-model="Qty"><br>
	<hr>
	您所購買的商品名稱為：{{ PName }}，單價為：NT$ {{ Price | number:0 }}，購買數量為：{{ Qty }}<br>
	總金額為：NT$ {{ subtotal() | number:0 }}
</body>
</html>