<!DOCTYPE html>
<html ng-app="app">
<head>
	<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
  	<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
  	<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>

  	<script src="http://code.jquery.com/jquery.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

  	<meta charset="utf-8">
  	<title>【AngularJS 開發實戰：新手入門篇】實作練習</title>

  	<script>
      // 建立模組, 模組也要記得宣告
      angular.module('app', []).controller('MainCtrl', MainCtrl);

  		function MainCtrl ($scope) {
  			$scope.PName = "T-shirt";
  			$scope.Price = 2000;
  			$scope.Qty = 6;
        $scope.IsDebug = true;

        $scope.subtotal = function() {
          var r = $scope.Price * $scope.Qty;
          if ($scope.Qty >= 10) {
            r = r * 0.9;
          }
          return r;
        };

        var vm = $scope;

        vm.carts = [];
              vm.carts.push({
                PName: 'T-Shirt',
                Price: 199,
                Qty: 3
              });
              vm.carts.push({
                PName: 'Shoes',
                Price: 1800,
                Qty: 2
              });
              vm.carts.push({
                PName: 'Eye glasses',
                Price: 1000,
                Qty: 5
              });


  		}
  	</script>


</head>
<body ng-controller="MainCtrl">
	商品名稱：<input type="text" ng-model="PName"><br>
	商品單價：<input type="number" ng-model="Price"><br>
	商品數量：<input type="number" ng-model="Qty"><br>
	<hr>
	您所購買的商品名稱為：{{ PName }}，單價為：NT$ {{ Price | number:0 }}，購買數量為：{{ Qty }}<br>
	總金額為：NT$ {{ subtotal() | number:0 }}
  <br><br>
  <button class="btn" ng-click="">加入購物車</button>
  <br><br>
  <label>
    <input type="checkbox" ng-model="IsDebug">啟用偵錯
  </label>
  <pre ng-if="IsDebug" style="max-width: 768px;">
    {{carts|json}}
  </pre>


</body>
</html>