<!DOCTYPE html>
<html ng-app="app1">
<head>
  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
  <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>

  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

  <meta charset="utf-8">
  <title>【AngularJS 開發實戰：新手入門篇】實作練習</title>

  <script>
    angular.module('app1', [])
.controller('MainCtrl', MainCtrl);

function MainCtrl($scope) {
  
  $scope.PName = 'Pencil';
  $scope.Price = 60;
  $scope.Qty   = 5;
  
  $scope.subtotal = function(Price, Qty) {
    var r = Price * Qty;
    if(Qty >= 10) {
      r = r * 0.9;
    }
    return r;
  };

  var vm = $scope;
  
  vm.carts = [];
  vm.carts.push({
    PName: 'T-Shirt',
    Price: 199,
    Qty: 3
  });
  vm.carts.push({
    PName: 'Shoes',
    Price: 1800,
    Qty: 2
  });
  vm.carts.push({
    PName: 'Eye glasses',
    Price: 1000,
    Qty: 5
  });
  
  vm.IsDebug = false;
  
  vm.add = function() {
    vm.carts.push({
      'PName': $scope.PName,
      'Price': $scope.Price,
      'Qty': $scope.Qty
    });
  };
  
  vm.sum = function() {
    var r = 0;
    angular.forEach($scope.carts, function(item) {
      r += $scope.subtotal(item.Price, item.Qty);
    });
    return r;
  };
  
  vm.del = function(idx) {
    $scope.carts.splice(idx, 1);
  };
  
  vm.addCartQty = function(item, num) {
    item.Qty = item.Qty + num;
    if(item.Qty > 10) {
      item.Qty = 10;
    }
  };
}

  </script>

</head>
<body ng-controller="MainCtrl">

  商品名稱: <input type="text" ng-model="PName"><br>
  商品單價: <input type="number" ng-model="Price"><br>
  購買數量: <input type="number" ng-model="Qty"><br>
  <br>
  您購買 {{PName}} 商品，單價 NT${{Price|number:0}} 元，數量 {{Qty}} 件，共 NT${{subtotal(Price, Qty)|number:0}} 元。
  <br>
  <br>
  <button class="btn" ng-click="add()">加入購物車</button>
  <br>
  <br>
  
  <label>
  <input type="checkbox" ng-model="IsDebug"> 啟用偵錯
  </label>
  
  <pre ng-if="IsDebug">{{carts|json}}</pre>
  
  <h4>
    目前購買 {{ carts.length }} 件，總價 {{ sum() | number:0 }} 元。
  </h4>
  
  <table class="table">
    <tr>
      <th>#</th>
      <th>商品名稱</th>
      <th>商品價格</th>
      <th>購買數量</th>
      <th>小計</th>
      <th></th>
    </tr>
    <tr ng-repeat="item in carts">
      <td>{{$index+1}}</td>
      <td>{{item.PName}}</td>
      <td>{{item.Price}}</td>
      <td>
        <button ng-click="addCartQty(item,-1)">-</button>
        {{item.Qty}}
        <button ng-click="addCartQty(item,+1)">+</button>
      </td>
      <td>{{subtotal(item.Price, item.Qty)}}</td>
      <td>
        <button ng-click="del($index)"><i class="icon-trash"></button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>總計</td>
      <td>NT${{sum()|number:0}}</td>
      <td></td>
    </tr>
  </table>
  
  <br>  <br>
  <br>
  <br>
  <br>

</body>
</html>